# Application
APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Database
DB_URL=jdbc:postgresql://localhost:5432/credit_scoring
DB_NAME=credit_scoring
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_POOL_SIZE=20
DB_POOL_MIN_IDLE=5
